body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    -webkit-font-smoothing: antialiased;

    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/* Container
===================*/
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Button
===================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 40px;

    border-radius: 2px;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}